<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Introdução e Definições</key>
	<array>
		<string>Introdução e Definições</string>
		<string>A Desordem do Desejo Sexual Hipoativo (sigla em inglês - HSDD) é caracterizada pela ausência ou falta de interesse por sexo. Esta doença é classificada entre as moléstias sexuais e distúrbios de identidade sexual do Manual Diagnóstico e Estatístico de Doenças Mentais (DSM). É identificada como uma das mais comuns causas de dificuldades entre parceiros e também causa muito frequente de angústia relacionada ao sexo. Cerca de 26 % das mulheres e mais de 13 % dos homens sofrem de algum tipo de distúrbio do apetite sexual, mas nem todos podem ser considerados como portadores de HSDD.</string>
		<string>As causas de HSDD são variadas. Fatores biológicos, médicos, psicológicos e sociais podem ser responsáveis pela condição. Após a publicação em 1970 do livro de Masters e Johnson , entitulado &quot;Inadequação Sexual Humana&quot;, mais pessoas começaram a se conscientizar desta doença e houve aumento de procura por tratamento. De fato, o desejo sexual hipoativo pode ser percebido de várias formas diferentes por diversas pessoas, dependendo do julgamento pessoal do grau de atividade sexual que cada um deve ter. Os critérios diagnósticos entretanto deixam claro que alguém só pode ser diagnosticado como portador da doença quando este indivíduo não é capaz de expressar os seus desejos sexuais por um período de tempo prolongado.</string>
		<string>Entre as possíveis causas estão a depressão, ansiedade, distância emocional e conflitos de casais. Uma dúvida frequente e pertinente é se estes problemas emocionais são causas da falta de interesse sexual ou se é o fraco desempenho sexual que provoca estas situações. Pesquisas demonstraram que fatores associados ao baixo libido são: extremos de peso (desnutrição e obesidade), perda de autoconfiança associada a obesidade, incapacidade de ser fisicamente ativo, pressões sociais, parceiros sexualmente inativos, baixa autoestima, uso prolongado de álcool e outras drogas e certos tipos de transtornos de personalidade.</string>
		<string>O HSDD está frequentemente associado aos seguintes fatores cognitivos:</string>
		<string>- A crença de que sensações sutis, como calor ou ternura, não são de natureza sexual. Certas pessoas creêm que a excitação não pode ocorrer na ausência de sensações eróticas evidentes e intensas.</string>
		<string>- A crença de  que o desejo não se desenvolve de forma gradual durante um encontro sexual mas que deve estar presente logo no início do ato sexual ou não surgirá mais.</string>
		<string>Uma das causas é a falta de acesso a um(a) parceiro(a) desejável. A perda de um(a) parceiro(a) de longa data associada a falta de acesso a alguém que seja ao mesmo tempo emocional e fisicamente satisfatório pode levar a queda de interesse sexual, especialmente em sociedades nas quais o sexo só é aceitável dentro de relacionamentos íntimos.</string>
		<string>Entre as causas físicas estão a insuficiência renal crônica e outras doenças crônicas debilitantes; deficiência do hormônio testosterona e excesso de produção do hormônio prolactina. Pode ser decorrente do efeito colateral de medicamentos para pressão alta, antipsicóticos, anticonvulsivantes e quimioterápicos.</string>
	</array>
	<key>Sintomas e Tipos</key>
	<array>
		<string>Sintomas e Tipos</string>
		<string>O sintoma padrão é a falta de interesse por sexo e a incapacidade de ter uma performance satisfatória. Pode haver ou não dificuldade de manter uma ereção ou atingir o orgasmo, mesmo que se se apresente uma situação altamente excitante. Se esta dificuldade for limitada a apenas uma situação ou pessoa, o indivíduo pode estar sofrendo de outro problema. Outros sintomas podem também incluir depressão e comportamento antissocial.</string>
		<string>De acordo com o DSM, existem **6 tipos principais de HSDD:**</string>
		<string>1) Tipo vitalício - perdura pela vida inteira ou a maior parte dela.</string>
		<string>2) Tipo adquirido - ausência súbita de desejo sexual, após um período de funcionamento normal.</string>
		<string>3) Tipo generalizado - incapacidade de se excitar em qualquer situação.</string>
		<string>4) Tipo situacional - incapacidade de se excitar apenas em uma situação específica, ou com um(a) parceiro(a) específico(a).</string>
		<string>5) Devido a fatores psicológicos.</string>
		<string>6) Devido a fatores combinados.</string>
	</array>
	<key>Diagnóstico e Exames</key>
	<array>
		<string>Diagnóstico e Exames</string>
		<string>Os critérios diagnósticos para desejo sexual hipoativo são:</string>
		<string>- Ausência persistente de desejo sexual e entusiasmo frente ao sexo</string>
		<string>- Várias das condições predisponentes citadas anteriormente devem ser confirmadas ou descartadas com a finalidade de direcionar o tratamento para causas orgânicas ou psicológicas. A influência de drogas, doenças debilitantes em geral e outras desordens fisiológicas tem tratamento específico. Doenças psiquiátricas podem ser tratadas com medicamentos. Para os demais casos é aconselhado o acompanhamento psicoterápico.</string>
	</array>
	<key>Tratamento e Cuidados</key>
	<array>
		<string>Tratamento e Cuidados</string>
		<string>A psicoterapia é altamente subjetiva. Geralmente os terapeutas preferem a terapia de casal e utilizam técnicas cognitivas e comportamentais. São ensinadas técnicas de comunicação mais efetiva entre casais, como se colocar na perspectiva do(a) parceiro(a), como aprender a agradar sexualmente um ao outro, como demonstrar entendimento do problema do(a) parceiro(a) e o aprendizado de métodos para se manter sexualmente ativo. São ensinadas formas de melhorar a intimidade e proximidade não-sexuais.</string>
		<string>Se a condição for de causa exclusivamente orgânica então pode ser tratada com reposição hormonal ou medicamentos para baixar a prolactina. Se o problema for baixa autoestima, podem ser ensinados conceitos psicológicos positivos aos pacientes. São dadas orientações quanto a dieta saudável, exercícios, sobre manter relacionamentos saudáveis e melhorar habilidades emocionais e cognitivas. Em alguns casos terapia de grupo pode ajudar. Através deste método pode se trocar experiências com outras pessoas com o mesmo problema e obter retorno positivo. Os mitos devem ser combatidos para evitar que obscurem a real causa dos problemas. Alguns destes mitos são:</string>
		<string>1) O desejo sexual feminino diminui depois de ganhar filhos.</string>
		<string>2) Casais vão perdendo gradualmente o interesse sexual após muito tempo juntos e compensam através de intimidade não sexual.</string>
		<string>3) Certas doenças físicas como pressão alta, câncer e artrites afetam o apetite sexual de forma irremediável.</string>
		<string>4) O tamanho dos genitais tem influência direta sobre o desejo sexual.</string>
		<string>5) Qualquer deficiência física ou mental automaticamente diminui o libido.</string>
		<string>6) A crença de que a queda de interesse sexual ocorre de forma inexorável em mulheres a partir dos 30 e nos homens a partir dos 50 anos.</string>
		<string>##DICAS:## O stress, ansiedade e o cansaço físico esfriam a disposição e reduzem o desejo para o sexo. Por isso tenha relações sexuais nos dias em que estiver mais descansado(a) (tente dormir pelo menos 7 a 8 horas por dia)  e menos estressado(a) e afaste pensamentos negativos que &quot;atrapalham a concentração&quot; durante o ato sexual. Tire férias. &quot;não fume&quot;. Beba com moderação. Reserve pelo menos 1 dia da semana para você e sua família. Faça exercícios regulares (3 a 4 vezes por semana, pelo menos 30 minutos por vez). Além de melhorar a parte circulatória, durante a atividade físico há aumento de substâncias que melhoram até o humor e sensação de prazer. Procure usar a imaginação e crie fantasias. Varie os locais e momentos onde pratica o sexo, pois isto melhora o desejo e a excitação. Procure um psicólogo ou terapeuta sexual em caso de problemas de origem psicológica.</string>
	</array>
</dict>
</plist>
