<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ejaculação retardada</key>
	<array>
		<string>EJACULAÇÃO RETARDADA, ANEJACULAÇÃO E ANORGASMIA</string>
		<string>O Manual Diagnóstico e Estatístico de Doenças Mentais (DSM) define ejaculação inibida como dificuldade recorrente ou persistente, atraso ou incapacidade de atingir o orgasmo após suficiente estimulação sexual, o que causa angústia pessoal. Pode ser classificada como primária ou adquirida ou como global ou situacional. Várias combinações de fatores psicológicos ou orgânicos podem provocar este problema. Entre os últimos podemos citar procedimentos cirúrgicos e medicamentos que podem interferir no sistema nervoso central ou na atividade de nervos periféricos do ducto deferente, colo da bexiga, assoalho pélvico, ou pênis. </string>
		<string>A ejaculação retardada é mais comum a partir dos 50 anos de idade. Várias alterações orgânicas relacionadas ao envelhecimento, podem, em alguns casos, provocar uma diminuição de sensibilidade peniana.</string>
		<string>Entre as causas psicológicas temos crenças culturais e religiosas, psicopatologias como agressão inconsciente ou raiva reprimida, excitação sexual insuficiente, preferência por masturbação em relação ao contato sexual, ou medo de gravidez ou doenças sexualmente transmissíveis.</string>
		<string>Entre as causas orgânicas temos o trauma raquimedular (secção da medula espinal), complicação do diabetes, complicação de cirurgias de próstata, complicação de algumas cirurgias pélvicas (principalmente para câncer), hipotireoidismo, baixo nível de testosterona, e algumas drogas como álcool, diuréticos e antidepressivos. Em muitos destes casos o que acontece é um dano neurológico ou anatômico que provoca a chamada ejaculação retrógrada (ejaculação &quot;para trás&quot;), situação em que o esperma fica retido na bexiga após a ejaculação ao invés de sair para o meio externo. Nestes casos a sensação prazerosa do orgasmo ainda ocorre, apesar do gozo seco.</string>
		<string>##EXAMES##</string>
		<string>O exame físico completo deve ser sempre realizado. Vários exames podem ser indicados para investigação dependendo das doenças causadoras, devendo ser individualizados caso a caso, dependendo da história clínica e achados do exame físico. Em alguns casos estudos neurofisiológicos podem ser indicados.</string>
		<string>##TRATAMENTO##</string>
		<string>O tratamento deve ser focado na causa específica, como por exemplo o diabetes e o hipotireoidismo. Naqueles em idade reprodutiva a questão da infertilidade tem que ser abordada.</string>
		<string>Se a causa for psicológica o tratamento deve ser psicoterapia e terapia comportamental. Se for provocada por álcool ou consumo de outras drogas e medicamentos, a simples suspensão constuma resolver o problema.</string>
		<string>Se o paciente consegue obter o orgasmo, porém a ejaculação é seca e o objetivo é engravidar, pode-se indicar tratamento cirúrgico ou medicamentoso. Em alguns casos pode ser indicado a reconstrução operatória do colo da bexiga. Algumas medicações podem ajudar, como efedrina, pseudoefedrina e fenilpropanolamina. Destas drogas a pseudoefedrina é a mais eficaz. Quando nem a operação nem os remédios são eficazes, a saída é obter os espermatozóides a partir da filtração da urina após o ato sexual ou no casos dos lesados medulares deve ser utilizado vibro estimulação ou eletroejaculação.</string>
	</array>
	<key>Baixo volume ejaculado</key>
	<array>
		<string>BAIXO VOLUME EJACULADO</string>
		<string>É frequente queixa entre os pacientes a partir dos 50 anos e deve ser diferenciada da situação de ejaculação seca ou anejaculação. Este problema é muito pouco abordado na literatura médico-científica devido ao fato de ser considerado como de baixo impacto na qualidade de vida dos pacientes. Porém alguns homens se incomodam de verdade com este problema por associarem mentalmente a quantidade de esperma com a autoimagem e autopercepção de virilidade. Alguns associam o volume com a própria sensação prazerosa do orgasmo, apesar de não haver relação direta entre esses dois aspectos. </string>
		<string>Com o envelhecimento ocorrem mudanças na próstata e no ambiente hormonal do organismo. O volume do esperma ejaculado tende a diminuir com a idade, e o tempo que leva para a formação do esperma também aumenta. O aumento da gordura abdominal pode aumentar o teor de estrógeno (hormônio feminino) e isso pode contribuir para a diminuição de volume.</string>
		<string>Não existe tratamento específico para este problema. Se o paciente se incomoda com esta situação recomenda-se o aumento do intervalo entre as relações para aumentar o acúmulo de esperma, e indica-se aumentar o consumo de líquidos. Se a intenção for a fertilização da parceira, devem ser obtidas várias amostras de esperma para avaliação do quadro geral de fertilidade masculina. Em vários casos podem ser necessárias técnicas de inseminação artificial.</string>
	</array>
</dict>
</plist>
