<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Restaurar compras já realizadas</string>
		<string>Sobre os Questionários</string>
		<string>Resultados de Questionários Anteriores</string>
		<string>Impotência - Causas Psicogênicas versus Causas Orgânicas (OVP)</string>
	</array>
	<array>
		<string>Todos os questionários com desconto de mais de 40% !</string>
		<string>Índice Internacional de Função Erétil Simplificado (IIEF-5)</string>
		<string>￼Rastreador do Distúrbio de Baixo Desejo Sexual (HSDD)</string>
		<string>Índice de Ejaculação Precoce (IPE)</string>
		<string>Questionário Sobre Qualidade da Ereção (QEQ)</string>
		<string>Questionário Sobre Auto-estima e Relacionamento (SEAR)</string>
		<string>Questionário Sobre Qualidade de Vida Sexual (SQoL-M)</string>
		<string>Nível de Satisfação com o Tratamento para a Impotência Sexual (EDITS)</string>
	</array>
</array>
</plist>
