<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Todos os resultados anteriores</string>
	<string>Impotência - Causas Psicogênicas versus Causas Orgânicas (OVP)</string>
	<string>Índice Internacional de Função Erétil Simplificado (IIEF-5)</string>
	<string>Rastreador do Distúrbio de Baixo Desejo Sexual (HSDD)</string>
	<string>Índice de Ejaculação Precoce (IPE)</string>
	<string>Questionário Sobre Qualidade da Ereção (QEQ)</string>
	<string>Questionário Sobre Auto-estima e Relacionamento (SEAR)</string>
	<string>Questionário Sobre Qualidade de Vida Sexual (SQoL-M)</string>
	<string>Inquérito sobre o Nível de Satisfação com o Tratamento para a Impotência Sexual (EDITS)</string>
</array>
</plist>
