<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>OVP</string>
	<key>2</key>
	<string>IIEF-5</string>
	<key>3</key>
	<string>HSDD</string>
	<key>4</key>
	<string>IPE</string>
	<key>5</key>
	<string>QEQ</string>
	<key>6</key>
	<string>SEAR</string>
	<key>7</key>
	<string>SQoL-M</string>
	<key>8</key>
	<string>EDITS</string>
</dict>
</plist>
