<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Introdução</key>
    <array>
        <string>Introdução</string>
        <string>##ATENÇÃO:## Os assuntos abordados nesta seção referem-se a temas delicados relacionados a uma visão moderna do homossexualismo, que não encara isto como doença ou perversão. A intenção aqui é ajudar os indivíduos com esta orientação sexual em ambos os sexos, já que são frequentemente negligenciados. São abordados aspectos do sexo anal, porém sempre sob o foco científico e com o máximo de discrição possível. Se você não se sente confortável com estes assuntos é recomendável que não leia esta seção.</string>
        <string>O espectro de disfunções sexuais na população homossexual é igual a da população em geral. Porém há certos cuidados específicos que serão abordados no próximo tópico.</string>
        <string>Muitos podem encontrar problemas quando percebem em si mesmos a orientação homossexual e tentam adequá-la a sua própria visão de auto-imagem ideal. Apesar da sociedade ter aumentado em muito a tolerância em geral, se declarar abertamente gay ou lésbica ainda tem grandes implicações na vida pessoal e familiar. Apesar de que alguns indivíduos já se percebem como homossexuais logo no início da adolescência, uma minoria significativa não se descobre como tal até um momento mais tardio da vida, muitas vezes já comprometido com filhos e  dentro de um casamento tradicional infeliz. Estas pessoas merecem aconselhamento cuidadoso e com comprometimento profissional, especialmente no caso dos homens que praticam sexo com outros homens mas que não se consideram gays. Alguns preferem continuar casados; neste caso o casal pode precisar de ajuda para reorganizar o relacionamento, sem julgamentos ou imposições de valores por parte dos terapeutas.</string>
        <string>Homossexuais e bissexuais vêm de todos os grupos raciais, étnicos e culturais e de várias crenças religiosas distintas. As pesquisas sobre este assunto são frequentemente muito prejudicadas devido a ansiedade do paciente a respeito do estigma associado a sua orientação sexual. Alguns estudos sugerem taxas mais altas para estes grupos relacionadas a suicídio, doenças mentais, estresse emocional, câncer, abuso de álcool e outras drogas, além de obesidade.</string>
        <string>Ao procurar um médico ou terapeuta é fundamental respeito e comunicação apropriada, clara e acurada. As orientações neste caso devem incluir informação sobre sexo mais seguro porque a exploração sexual pode expor a maiores riscos como doenças sexualmente transmissíveis (DST). Não se pode mais aceitar nos dias atuais que os médicos e demais profissionais tentem impor aos pacientes os seus próprios valores morais. Se o paciente perceber que o seu médico ou psicólogo não consegue abordar de forma confortável e natural os detalhes do seu relacionamento homossexual, ele deverá procurar um profissional mais preparado para tal.</string>
        <string>São várias as idéias erradas pré-concebidas pela sociedade em geral a respeito das práticas homossexuais. Alguns fatos:</string>
        <string>1. Aproximadamente um terço dos gays preferem não praticar sexo com penetração de uma forma regular.</string>
        <string>2. A divisão tradicional dos gays entre ativos e passivos normalmente não corresponde a realidade da maioria dos casais. Na maior parte dos casos os dois parceiros exercem ambos os papéis no sexo anal. Mesmo entre os casais em que existe esta divisão de papéis, os considerados passivos não necessariamente são os menos "masculinos" ou "agressivos" da relação.</string>
        <string>3. Entre as lésbicas ambas as parceiras podem psicologicamente exercer o papel de "ativa", independentemente da forma escolhida de exercer a atividade sexual, com ou sem penetração.</string>
        <string>4. Não existem estimativas claras da incidência de problemas sexuais especificamente na população homossexual.</string>
        <string>5. As taxas de disfunção erétil vêm aumentando nos últimos anos entre os homens infectados com HIV, não se sabe se por ação direta do vírus ou se por efeitos das drogas anti-virais.</string>
        <string>6. A ejaculação precoce é mais comum entre gays. A ejaculação retardada também é mais comum.</string>
        <string>7. Hemorróidas e fissuras anais não são mais frequentes entre os gays.</string>
        <string>8. Anorgasmia e baixo apetite sexual ocorrem nas lésbicas de forma igual as outras mulheres.</string>
        <string>Estimativas baseadas em estudos com falhas metodológicas apontam para uma taxa entre 7 a 10 % de incidência de homossexualismo entre a população. Porém as taxas reais devem ser em torno do dobro deste valor ou ainda maiores.</string>
        <string>A abrangência de estilos de vida sexual entre os homossexuais é provavelmente igual ao do resto das pessoas. Entre os relacionamentos estáveis as taxas de infidelidade conjugal não diferem. Entre os gays solteiros a multiplicidade de contatos sexuais nas grandes cidades é semelhante aos heterossexuais na mesma situação.</string>
    </array>
    <key>Cuidados específicos</key>
    <array>
        <string>Cuidados específicos</string>
        <string>##ATENÇÃO:## Os assuntos abordados nesta seção referem-se a temas delicados relacionados a uma visão moderna do homossexualismo, que não encara isto como doença ou perversão. A intenção aqui é ajudar os indivíduos com esta orientação sexual em ambos os sexos, já que são frequentemente negligenciados. São abordados aspectos do sexo anal, porém sempre sob o foco científico e com o máximo de discrição possível. Se você não se sente confortável com estes assuntos é recomendável que não leia esta seção.</string>
        <string>1.Fissuras anais</string>
        <string>Como já mencionado, os problemas da região anal não são mais frequentes na população gay. Fissuras anais são decorrentes de esforço evacuatório para vencer a resistência do esfíncter (ou válvula) anal. A válvula do ânus responsável pela capacidade de reter as fezes até o momento adequado para a evacuação é muito contraída ou "fechada", exigindo grande esforço para a expulsão das fezes. Normalmente não são provocadas por sexo anal receptivo. Porém são dolorosas e se passam a ser problema para o homossexual portador delas devem ser abordadas além da visão convencional do problema. Entre os homossexuais dispostos a praticar sexo anal receptivo pode ser utilizado um dilatador anal que ajuda no relaxamento do esfíncter para permitir a cicatrização das fissuras. Este dilatador pode ser aplicado a noite durante algumas horas, com a ajuda de um anestésico local como EMLA ou lidocaína gel.</string>
        <string>Exercícios de dilatação e relaxamento anal:</string>
        <string>- Faça estes exercícios individualmente até estar confiante de que consegue acomodar um pênis.</string>
        <string>- Comece fazendo exercícios deitado em uma toalha sobre a cama ou deitado de costas em uma banheira com água morna.</string>
        <string>- Eleve seus joelhos de encontro ao peito de forma a expor o ânus.</string>
        <string>- Explore a região em volta do ânus com o dedo coberto com lubrificante. Preferir KY gel ou outro lubrificante a base de água, porque no ato sexual em si este deverá ser o tipo de lubrificante escolhido, já que a vaselina e outros derivados do petróleo provocam o rompimento do preservativo.</string>
        <string>- Pressione gentilmente com o dedo fazendo movimentos circulares até conseguir introduzir um dedo.</string>
        <string>- Depois que um dedo puder ser confortavelmente acomodado, comece a alargar o esfíncter com movimentos circulares dentro do ânus.</string>
        <string>- Após várias sessões será possível inserir outro dedo e prosseguir com a dilatação.</string>
        <string>- A partir deste momento é recomendado o uso de dilatador anal com mecanismo de auto-retenção deixado no local por algumas horas diariamente. É muito importante que seja um dilatador apropriado destinado a este fim para evitar acidentes.</string>
        <string>2.DST</string>
        <string>São doenças comuns entre pessoas que têm muitos parceiros sexuais independentemente da orientação sexual. A facilidade de transmissão  da maioria das infecções é similar para sexo anal ou vaginal, com exceção do HIV que é de mais fácil transmissão pelo sexo anal. Porém preservativos resistentes reduzem bastante o risco. As taxas de transmissão do HIV pelo sexo oral são notadamente muito baixas, porém existem vários casos relatados. Porém o sexo oral é via comum para adquirir gonorréia, sífilis ou uretrites.</string>
        <string>Contato oral-fecal pode ser via de transmissão de hepatite A e giardíase. Episódios de diarréia auto-limitada devem ser tratados tendo como a giardia o presumido agente causal. Diarréias prolongadas são razão para procurar o médico que poderá pedir vários exames entre eles a cultura de fezes.</string>
        <string>A imunização paras as hepatites A e B é recomendada para homossexuais. Infelizmente a hepatite C não tem vacina.</string>
        <string>Todas as DST devem ser tratadas no homossexual de forma idêntica a população geral. A clamídia não é um agente causal comum na população homossexual.VIDE A SEÇÃO SOBRE DST.</string>
    </array>
</dict>
</plist>
