<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baixo Desejo na Mulher</key>
	<array>
		<string>Cycle1.png</string>
		<string>baixo desejo mulher.001.png</string>
		<string>baixo desejo mulher.002.png</string>
	</array>
	<key>Dor na Penetração</key>
	<array>
		<string>dor na penetracao.001.png</string>
		<string>dor na penetracao.002.png</string>
		<string>amielle.png</string>
	</array>
	<key>Anorgasmia</key>
	<array>
		<string>anorgasmia mulher.png</string>
	</array>
</dict>
</plist>
