<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baixo Desejo na Mulher</key>
	<array>
		<string>Baixo Desejo na Mulher</string>
		<string>A perda do desejo para o sexo é a disfunção sexual mais comum da população feminina. Este assunto é abordado de forma geral na seção &quot;Baixo Desejo Sexual&quot;, mas aqui são detalhadas as particularidades encontradas nas mulheres.</string>
		<string>Existe muita discussão se a outrora chamada &quot;frigidez&quot; deve ser vista como uma anormalidade ou uma variação da normalidade. Pouco se sabe sobre a fisiologia da resposta sexual na mulher. Um resumo do que se sabe atualmente segue abaixo:</string>
		<string>Uma resposta sexual adequada exige uma inervação pélvica intacta, uma irrigação sanguínea normal e um ambiente hormonal adequado. Assim como no homem, uma variedade de situações pode provocar a excitação sexual. Os estímulos podem ser provocados por qualquer um dos quatro sentidos ou iniciados a partir de memórias. Porém os fenômenos fisiológicos da excitação podem ocorrer sem a mulher experimentar qualquer sensação prazerosa. Não é incomum que durante o sono ocorra lubrificação vaginal na ausência de qualquer estímulo erótico.   </string>
		<string>O que se sabe sobre o ciclo de resposta sexual é baseado nos trabalhos do casal Masters e Johnson na década de 1970. A classificação por eles proposta devida a resposta sexual em quatro fases: excitação, platô, orgasmo e resolução. As fases representam um aumento do grau de excitação sexual, e cada um dos passos é necessário para que o próximo ocorra. Tem sido sugerido o acréscimo de uma fase extra que normalmente precede as quatro etapas; a fase do desejo, que é a parte da resposta sexual que é a menos compreendida.</string>
		<string>FIGURA 1 - Ciclo de resposta sexual na mulher.</string>
		<string>##1) Fase de excitação:##</string>
		<string>Esta é resposta inicial da estimulação sexual e, como em cada etapa, tem componentes genitais e sistêmicos. Ocorrem os seguintes eventos:</string>
		<string>- Aumento da tensão muscular.</string>
		<string>- Aumentam as frequências cardíaca e respiratória. Aumenta a pressão arterial.</string>
		<string>- A pele do rosto e das costas ficam coradas.</string>
		<string>- Mamilos ficam duros ou eretos.</string>
		<string>- Aumenta o fluxo de sangue para os genitais, o que resulta em inchaço no clitoris e pequenos lábios.</string>
		<string>- Os dois terços internos da vagina se dilatam e a vulva (parte externa da vagina) fica engurgitada.</string>
		<string>- Se inicia a lubrificação vaginal.</string>
		<string>-  As mamas aumentam de volume.</string>
		<string>##2) Fase de platô:##</string>
		<string>Esta fase representa a consolidação das mudanças ocorridas na etapa anterior:</string>
		<string> - A congestão do terço externo da vagina atinge um ápice.  Se a excitação continua e se acumula até determinado ponto, passa-se a fase do orgasmo.</string>
		<string>- As mamas aumentam de volume (podendo chegar até 20-25% a mais do tamanho original em mulheres que nuncam amamentaram) e as aréolas ficam congestas.</string>
		<string>- A vagina continua a se engurgitar e as paredes dela ficam com um tom arroxeado.</string>
		<string>- O clitoris fica altamente sensível, as vezes até doloroso ao toque, e retrai em direção ao osso pélvico, parecendo desaparecer.</string>
		<string>Se a estimulação for suficiente e continua a se acumular, se passa a próxima fase.</string>
		<string>##3) Fase do orgasmo:##</string>
		<string>Esta fase é o clímax do ciclo. É a mais curta das fases e geralmente dura somente alguns segundos: </string>
		<string>- Ocorrem contrações musculares involuntárias.</string>
		<string>- Ocorre o pico do aumento das frequências cardíaca e respiratória e da pressão arterial.</string>
		<string>- Músculos nos pés apresentam espasmos.</string>
		<string>- Acontece uma súbita e enérgica liberação da tensão sexual e também o pico da sensação prazerosa.</string>
		<string>- As paredes da vagina se contraem. O útero passa por contrações rítmicas.</string>
		<string>- Um &quot;rash&quot; ou &quot;vermelhão&quot; pode aparecer em todo o corpo.</string>
		<string>Após o orgasmo, a maioria das mulheres não tem o período refratário que é visto nos homens. Trata-se daquele período de tempo que pode variar de minutos a horas, em que o homem tem dificuldade ou não consegue obter um segundo orgasmo. Portanto se a estimulação for mantida podem ocorrer múltiplos orgasmos na mulher.</string>
		<string>A natureza do orgasmo feminino claramente não é afetada pelo tipo de estimulação, porém orgasmos provocados pela masturbação costumam ser mais intensos. Muitas pessoas não percebem que menos de 30 % das mulheres podem atingir o clímax apenas com a penetração. Portanto as preliminares, estimulação clitoriana (manual ou oral) e estímulos tácteis em zonas erógenas são essenciais para o orgasmo na maioria das mulheres.</string>
		<string>##3) Fase da resolução:##</string>
		<string>Durante esta fase o corpo lentamente retorna ao seu nível normal de funcionamento, e as partes do corpo engurgitadas retornam ao seu estado anterior de tamanho e cor. É marcada por uma sensação geral de bem estar e frequentemente fadiga.</string>
		<string>Voltando a discussão sobre o baixo desejo sexual feminino, algumas considerações devem ser feitas. Os fenômenos fisiológicos das diferentes fase do ciclo de resposta sexual são entidades separadas e desta forma não são dependentes entre si, apesar de acontecerem em sequência. Mulheres com perda de apetite podem apresentar função sexual normal. Essencialmente não é provável que queiram iniciar um contato sexual e têm pouca motivação a provocar estímulos sexuais.</string>
		<string>O desejo é um pensamento ou sensação ? A resposta não está clara, e certamente, no início dos relacionamentos amorosos, quando tudo é novidade, a excitação comumente ocorre logo após qualquer pensamento erótico. O pensamento sexual facilita a excitação através de vias neurológicas. Este pensamento pode ser a antecipação de um futuro encontro com o parceiro ou as recordações de um encontro anterior. Muitas mulheres que não têm desejo espontâneo podem funcionar bem sexualmente a partir do engajamento em um encontro sexual. Podem apreciar estímulos sexuais como toque na região genital, o que facilita as vias neurológicas da excitação. A partir daí podem evoluir naturalmente para o orgasmo.</string>
		<string>O baixo apetite sexual na mulher pode ser provocado por causas orgânicas ou psicológicas. Porém na prática é bastante difícil de separar os dois fatores na maioria dos casos.</string>
		<string>1) Alterações orgânicas e metabólicas.</string>
		<string>- Deficiência de hormônio testosterona. As mulheres também produzem este hormônio, apesar de que em quantidades bem menores do que no homem. É produzido em parte pelos ovários e o restante pelas glândulas adrenais. Mulheres submetidas a retirada operatória do útero ou dos ovários podem apresentar deficiência deste hormônio. Modernamente muitos ginecologistas têm optado pela reposição da testosterona por meio de gel transdérmico para o tratamento do baixo desejo.</string>
		<string>- Aumento do hormônio prolactina. Pode ser provocado por tumores pituitários, hipotireoidismo, cirrose hepática, estresse, doenças do fígado e medicamentos. Se confirmado deve ser tratado com medicamentos ou cirurgia da pituitária.</string>
		<string>- Doenças crônicas ou medicamentos que debilitem o organismo de forma geral provocando cansaço e fadiga.</string>
		<string>- Dor crônica em qualquer parte do corpo, dor na penetração sexual por causas ginecológicas.</string>
		<string>FIGURA 2 - tabela de doenças relacionadas ao baixo desejo.</string>
		<string>FIGURA 3 - drogas que afetam a função sexual.</string>
		<string>2) Distúrbios psico-sócio-culturais.</string>
		<string>É sabido que as mulheres exercem vários papéis ao longo da vida: profissional, dona de casa, mãe, filha, amiga e amante. Aparentemente o último papel citado vai se tornando menos importante na medida que a demanda pelos outros papéis aumentam. Muitas mulheres são culturalmente levadas a não se considerar mais como &quot;seres sexuais&quot; ao priorizarem intensamente a maternidade após o nascimento do filho. </string>
		<string>Muitas vezes ajuda procurar um terapeuta sexual. Este pode ajudar a mulher a se conscientizar a respeito do tempo empreendido em cada um do seus papéis, e elaborar com a ajuda do parceiro uma tabela de horários empreendidos em cada um deles.</string>
		<string>Comparações de resultados das tabelas de horários em diferentes épocas, em que o desejo estava mais ou menos ativo, ajuda a entender os fatores relacionados as diferenças de excitação em diferentes fases da vida. </string>
		<string>O terapeuta de posse destas informações, poderá ajudar melhor o casal. O profissional deve ajudar a explorar áreas como atração do parceiro, aspirações e expectativas de relacionamentos, questões da intimidade e fantasias sexuais. Os mitos sexuais devem ser abordados e derrubados. O terapeuta deverá ajudar a mulher a elevar o seu autoconhecimento corporal, principalmente das zonas erógenas, já que culturalmente a maioria das mulheres têm um conhecimento muito limitado das próprias sensações, devido ao tabu da masturbação feminina.</string>
	</array>
	<key>Dor na Penetração</key>
	<array>
		<string>Dor na Penetração</string>
		<string>Dispareunia e vaginismo são dois termos relacionados porém não sinônimos. O primeiro termo se refere a dor recorrente e persistente na região genital associado a atividade sexual. O segundo termo significa  a contração involuntária dos músculos próximos à vagina que impedem a penetração pelo pênis, dedo, ou espéculo ginecológico ou mesmo um tampão. A mulher não consegue controlar o movimento de contração, apesar de até querer o ato sexual.</string>
		<string>##Dispareunia##</string>
		<string>É classificada como primária, quando a dor sempre ocorreu desde o início da vida sexual, e secundária quando ocorre após um período de sexo sem problemas.</string>
		<string>Outra forma de classificar é como superficial (dor na região da entrada da vagina) e profunda (sensação de dor durante o movimento de vai e vem na parte interna).</string>
		<string>Dor sexual repetida pode iniciar um ciclo em que o medo de se sentir dor leva a se evitar a atividade sexual. Ocorre consequente queda de desejo e falha de atingir o orgasmo.</string>
		<string>##Dispareunia superficial##</string>
		<string>Dor superficial da vulva é comum e tem várias causas. A identificação da causa é frequentemente difícil, no entanto, e as pacientes podem enxergar os tratamentos como frustrantes ou inadequados. Elas normalmente são ansiosas e podem se consider mal-compreendidas. As sensações descritas são de queimação, ardência e coceira. A dor pode surgir também em outros momentos além do ato sexual, como caminhadas e as vezes até ser constante.</string>
		<string>As principais causas são as infecções da vulva (vulvite, vulvovaginite, vestibulite vulvar, vulvodinia, herpes genital, uretrites - vide seção das DST- e vulvite atrófica), lubrificação inadequada e irritantes tópicos. </string>
		<string>##Dispareunia profunda##</string>
		<string>Também comum e tem várias causas. Causas físicas comuns são a doença inflamatória pélvica (discutida na seção de DST), cirurgias abdominais ou pélvicas, aderências pós-operatórias, endometriose, tumores pélvicos ou ginecológicos, síndrome do intestino irritável, infecções urinárias e cistos ovarianos. Muitas vezes pode ser provocada pela falta de excitação suficiente levando ao pênis a atingir regiões mais profundas da vagina o que pode provocar dor. </string>
		<string>FIGURA 1 - Ciclo da dor sexual</string>
		<string>##Tratamentos das dispareunias##</string>
		<string>Além do óbvio tratamento das causas físicas após uma avaliação de uma ginecologista, tratamentos comportamentais cognitivos também são muito úteis. Estes são descritos abaixo na discussão de vaginismo.</string>
		<string>##Vaginismo##</string>
		<string>Pode estar ou não associado a dispareunia. Muitas mulheres desenvolvem este problema após múltiplas tentativas de penetração mal sucedidas devido a dor na penetração. Ocorre uma contração involuntária da musculatura vaginal que impede a penetração. Outros músculos podem estar envolvidos, como da pelve, coxas, abdome e pernas.</string>
		<string>As portadoras de vaginismo costumam sofrer muito devido a incompreensão do parceiro; também pela sensação de medo, fracasso, humilhação e frustração. Podem se sentir abandonadas e inadequadas.</string>
		<string>Não está claro porque algumas mulheres portadoras de dispareunia desenvolvem este problema e outras não. Muitas podem desenvolver fobia de penetração por experiências sexuais traumáticas, abuso sexual na infância, problemas de relacionamento ou medo de gravidez.</string>
		<string>As portadoras deste problema associam o ato sexual a medo e dor, e podem experimentar não apenas extrema dor física nas tentativas de penetração como também dor psicológica intensa. O espectro pode variar desde um caso grave em que a mera menção ou insinuação de sexo já provoca as contrações involuntárias, a até casos mais leves em que a mulher consegue realizar sexo sem penetração até atingindo o orgasmo.</string>
		<string>Vários fatores psicológicos podem estar envolvidos como ortodoxia religiosa, educação sexual ruim, e rancor reprimido em um relacionamento. Algumas mulheres podem se convencer que suas vaginas são muito pequenas para a penetração.</string>
		<string>FIGURA 2 - Ciclo do vaginismo</string>
		<string>##Tratamento cognitivo##</string>
		<string>Consiste em um trabalho para identificar as causas da fobia associado a um programa de relaxamento, com exercícios específicos para tirar a tensão dos músculos e dessensibilizar a vagina. Como já mencionado é interessante integrar este tipo de programa no tratamento das dispareunias por qualquer causa, por aumentar as taxas de sucesso.</string>
		<string>Durante tal programa a paciente aprende a controlar o espasmo da musculatura vaginal enquanto gentilmente introduz dilatadores de tamanho gradualmente maiores dentro da vagina. Como ela está com total controle da situação isso leva a uma grande autoconfiança. Após algum tempo de treinamento, chega o dia em que consegue dividir a tarefa de introduzir os dilatadores com a ajuda do parceiro. O próximo estágio é a penetração do pênis com a mulher por cima e mantendo o controle.</string>
		<string>FIGURA 3 - modelo de dilatadores (Amielle)</string>
		<string>As causas da fobia têm que ser combatidas em conjunto, até a mulher conseguir atingir um estágio em que se sente &quot;dona da própria vagina&quot; e que pode partilhá-la para o ato sexual caso seja seu desejo.</string>
	</array>
	<key>Anorgasmia</key>
	<array>
		<string>Anorgasmia</string>
		<string>O papel do orgasmo para as mulheres não é bem definido. Para algumas é de vital importância e buscado em todos encontros sexuais. Para outras, entretanto, parece ser pouco importante e até mesmo irrelevante; muitas mulheres podem estar satisfeitas sem ele. O papel do homem também é importante. Algumas vezes o parceiro pode não aproveitar completamente da atividade sexual se perceber que a parceira não atingiu o orgasmo. Este fato pode gerar grande pressão na companheira para atingir o orgasmo mesmo que para ela não seja importante.</string>
		<string>Uma definição adequada de anorgasmia é a inibição involuntária do reflexo do orgasmo. Uma mulher pode ter um desejo sexual forte e gostar da sensação de penetração na vagina, mas pode se segurar mesmo que a estimulação seja suficiente para o orgasmo. Estas mulheres podem ter um medo de perder o controle sobre suas sensações e comportamentos. Este medo pode ser consciente ou não. A anorgasmia pode ser situacional, ou seja, ocorre pela masturbação mas não na penetração do companheiro.</string>
		<string>O tratamento envolve o tratamento das causas do &quot;travamento&quot; do orgasmo - o medo ou fobia do orgasmo ou de perder o controle. A associação da resolução de conflitos (diminuição da inibição) combinado com aumento da estimulação costuma ser muito bem sucedido.</string>
		<string>A educação sexual do casal, a derrubada de mitos, e um entendimento das necessidades de cada parceiro(a) são essenciais para o combate deste problema. A questão: &quot;Para quem este orgasmo é ? &quot; deve ser abordada pelo casal, para que o companheiro não se sinta obrigado a sempre proporcionar o orgasmo feminino, caso não seja tão importante para a parceira.</string>
		<string>É de fundamental importância que a mulher promova seu autoconhecimento corporal e não se iniba em dividir as suas descobertas de autoexploração com o seu parceiro, o tornando participante ativo no seu prazer, mesmo que não envolva penetração.</string>
		<string>FIGURA 1 - Tratamento da anorgasmia feminina</string>
	</array>
</dict>
</plist>
