<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Baixo Desejo Sexual</string>
	<string>Ejaculação Precoce</string>
	<string>Impotência Sexual</string>
	<string>Ejaculação Retardada</string>
	<string>DST</string>
	<string>Saúde do Homossexual</string>
	<string>Saúde da Mulher</string>
</array>
</plist>
